.project
.metadata
.classpath
.settings/
*.jar
*.zip
*.war
/Servers
*.pydevproject
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.externalToolBuilders/
*.launch
.buildpath
/target/
/.idea/*
*.iml